.modal-box {
    display: block;
    align-items: center;
    justify-content: center;
    width:50%;
    margin: 2% 25%;
    padding:1%;
    background-color:azure;
    box-shadow: 5px 5px 5px rgb(17, 17, 17);
    position: absolute;
    z-index: 2;
}

header {
    font-weight: bold;
    font-size: 24px ;
    text-align: center;
}

.modal-content {
    margin:2% 2%;
    padding: 2%;
    text-align: center;
    position: relative;
}

form > label {
    width:35%;
    font-weight: bold;
    text-align:justify;
}
form> input {
    width:65%;
}
.submit-button {
    background-color:rgb(41, 171, 223);
    color:white;
    border-radius: 8%;
}
